<div class="panel panel-primary">
  <div class="panel-heading">
    <h2>Liste des formateurs</h2>
    
  </div>
 

  <div class="panel-body">
    <form>
      <div>
        <input  type="search" id="id" name="id"
         placeholder="Rechercher un employe">
         <button (click)="chercher(employee.id)" class="btn btn-info" style="margin-left: 10px" ></button>
      </div>
    </form>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Numero</th>
          <th>Nom et prénom</th>
          <th>Spécialité</th>
          <th>Direction</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let employee of employees | async">
          <td>{{employee.id}}</td>
          <td>{{employee.firstName}}</td>
          <td>{{employee.lastName}}</td>
          <td>{{employee.emailId}}</td>
          <td><button (click)="deleteEmployee(employee.id)" class="btn btn-danger">Supprimer</button>
              <button (click)="updateEmployee(employee.id)" class="btn btn-info" style="margin-left: 10px">Modifier</button>
              <button (click)="employeeDetails(employee.id)" class="btn btn-info" style="margin-left: 10px">Détail</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

